@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;510;700&display=swap');

*{
    box-sizing:border-box;
    margin: 0;
}

body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Roboto', sans-serif;
}

@media screen and  (max-width:510px){
    body {
        background-color:white;
    }
}

.margin {
    margin-top: 10px;
    margin-left: 120px;
    margin-right: 120px;
    font-size: 1.5rem;
    padding: 0px 20px 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 10px 20px #c0c0c0;
}

@media screen and (max-width:510px){
    .margin {
        font-size: .5rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

.margin .year {
    color: grey;
    font-size: 1rem ;
    margin-bottom: 25px;
}

@media screen and (max-width:510px) {
    .margin .year {
        font-size: .4rem;
    }
}

h3 {
    background-color: #216fba;
    color: white;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px 15px;
}

@media screen and (max-width:510px) {
    h3 {
        padding: 5px 7.5px;
    }
}

p{
    margin-bottom: 10px;
}

.logo {
    background-color:snow;
    padding: 15px;
}

@media screen and (max-width:510px) {
    .logo {
        padding: 5px;
    }
    
}

@media screen and (max-width:510px) {
    .logo img {
        width: 80px;
        height: 13px;
    }
}

.first{ 
    background-color: #216fba;
   }

   @media screen and (max-width:510px) { 
       .first img {
           width: 85px;
       }
}

.first span {
    background-color: white;
    
    width: 8px;
}

.first div {
    padding-left: 50px;
}

@media screen and (max-width:510px) {
    .first div {
        padding-left: 20px;
        font-size: .5rem;
    }
    
}

.first p{
    margin-top: 20px;;
}

@media screen and (max-width:510px) {
    .first p {
        margin-top: 5px;
    }
    
}

.flex {
    display: flex;
}

img {
    width: 250px;
}



.flex div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.margin .profile {
    line-height: 2em;
  
}

.margin .bold {
   font-weight:bold;
}

.margin ul li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin .skill {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:510px) {
    .margin .skill {
        display: block;
        margin-right: 7rem;
    }
}

.margin .skill .bar {
    background-color: lightgrey;
    justify-content: flex-start;
    position: relative;
    height: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width:510px) {
    .margin .skill .bar {
        height:5px;
    }
}

.margin .skill .bar span {
    animation: load 10s normal forwards;
    animation-delay: 1s;
    animation-iteration-count: 3;
    background-color: gray;
    display: block;
    height: 100%;
}

@keyframes load {
    0% { width: 0; } 
  }

.last {
    margin-bottom: 100px;
}

.project {
    background-color: #216fba;
    color: black;
    margin: 10px 30px 100px 30px;
    font-size: 1.5rem;
    border-radius: 5px;
    box-shadow: 0px 10px 20px #3d3c3c;
  
}
.project h3 {
    color: black;
}

.project .grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    justify-items: center;
    row-gap: 100px;
    margin-bottom: 100px;
}

@media screen and (max-width:500px) {
    .project .grid {
        display: block;
        padding-bottom: 2rem;
        padding-left: 2.5rem;
    }
    
    .project div {
        margin-bottom: 1rem;
    }
}

.project .grid img {
    width: 250px;
    height: 250px;
}

@media screen and (max-width:375px) {
    .project h3 {
        width:100px;
        
    }

    .project .grid {
        padding-left: 1.5rem;
    }
    .project .grid img {
        width: 200px;
        height: 200px;
    }
}

.project .grid a {
    color: black;
    text-align: center;
    text-decoration: none;

}