@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;510;700&display=swap');

*{
    box-sizing:border-box;
    margin: 0;
}

body {
    /* background-color: coral; */
    font-family: 'Roboto', sans-serif;
}

@media screen and  (max-width:510px){
    body {
        background-color:white;
    }
}

.margin {
    margin-left: 120px;
    margin-right: 120px;
    font-size: 2rem;
}

@media screen and (max-width:510px){
    .margin {
        font-size: .5rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

.margin .year {
    color: grey;
    font-size: 1.8rem ;
    margin-bottom: 25px;
}

@media screen and (max-width:510px) {
    .margin .year {
        font-size: .4rem;
    }
}

h3 {
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px 15px;
}

@media screen and (max-width:510px) {
    h3 {
        padding: 5px 7.5px;
    }
}

p{
    margin-bottom: 10px;
}

.logo {
    background-color:snow;
    padding: 15px;
}

@media screen and (max-width:510px) {
    .logo {
        padding: 5px;
    }
    
}

@media screen and (max-width:510px) {
    .logo img {
        width: 80px;
        height: 13px;
    }
}

.first{ 
    background-color:dodgerblue;
   }

   @media screen and (max-width:510px) { 
       .first img {
           width: 85px;
       }
}

.first span {
    background-color: white;
    
    width: 8px;
}

.first div {
    padding-left: 50px;
}

@media screen and (max-width:510px) {
    .first div {
        padding-left: 20px;
        font-size: .5rem;
    }
    
}

.first p{
    margin-top: 20px;;
}

@media screen and (max-width:510px) {
    .first p {
        margin-top: 5px;
    }
    
}

.flex {
    display: flex;
}

img {
    width: 250px;
}



.flex div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.margin .profile {
    line-height: 2em;
  
}

.margin .bold {
   font-weight:bold;
}

.margin ul li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin .skill {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:510px) {
    .margin .skill {
        display: block;
        margin-right: 7rem;
    }
}

.margin .skill .bar {
    background-color: lightgrey;
    height: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width:510px) {
    .margin .skill .bar {
        height:5px;
    }
}

.margin .skill .bar span {
    background-color: gray;
    display: block;
    height: 100%;
}

.last {
    margin-bottom: 100px;
}